# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Temporary Audio Files
*.mp3
tts_*.mp3

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Firmware / Binary Scratch Files
*.zip
*.img
*.tar
*.md5
platform-tools/
samsung-odin-*/
SAMFW.COM_*
